<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Wrapper API</title>
</head>

<body>
    <h1>Welcome, Grow Therapy!</h1>
    <h3>Thank you for providing me with this opportunity :)</h3>
    <p>
        Please follow the instructions in the README.md file to begin retrieving data.
    </p>
    <p>
        Here’s why I believe I would be an excellent fit at Grow Therapy in short:
    <ul>
        <li>Technical Proficiency</li>
        <li>Passion for Mental Health</li>
        <li>Collaborative Approach</li>
        <li>Problem-Solving Skills</li>
        <li>Continuous Learning</li>
    </ul>
    </p>
</body>

</html>